[Unit]
Description=Thermostat

[Service]
WorkingDirectory=/home/craig
ExecStart=/usr/local/bin/thermostat -season winter -hysteresis 1.6 -w1 28-000000311fff

[Install]
WantedBy=multi-user.target
